faster-whisper
langchain-community
langchain-huggingface
langchain-google-genai
langchain-core
langchain-text-splitters
langchain-chroma
sentence-transformers
pypdf
python-dotenv
soundfile
pymupdf
pytesseract
pillow
google-cloud-texttospeech
fastapi
uvicorn
python-multipart
jinja2
