flask
faster-whisper
langchain-community
langchain-huggingface
langchain-google-genai
langchain-core
langchain-text-splitters
langchain-chroma
sentence-transformers
pypdf
python-dotenv
speechrecognition
pyaudio
soundfile
pymupdf
pytesseract
pillow
